:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start flex+Grid Selectors */
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.d-block {
    display: block;
}
.f-column {
    flex-direction: column;
}
.align-c {
    align-items: center;
}
.gap-20 {
    gap: 20px;
}
.space-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.flex-wrap {
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    .d-block-mobile {
        display: block;
    }
    .d-none-mobile {
        display: none;
    }
}
/* End flex+Grid Selectors */
/* Start Module */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-0 {
    margin-bottom: 0px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-5 {
    margin-left: 5px;
}
.r-6 {
    border-radius: 6px;
}
.r-10 {
    border-radius: 10px;
}
.round {
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.w-fit {
    width: fit-content;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.hidden {
    overflow: hidden;
}
.b-none {
    border: none;
}
/* End Module */
/* Start Fonts */
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-24 {
    font-size: 24px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Fonts */
/* Start Colors */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.txt-black {
    color: black;
}
.txt-ddd {
    color: #ddd;
}
.txt-grey {
    color: var(--grey-color);
}
.txt-white {
    color: white;
}
.txt-blue {
    color: var(--blue-color);
}
.txt-orange {
    color: var(--orange-color);
}
.txt-green {
    color: var(--green-color);
}
.txt-red {
    color: var(--red-color);
}
.txt-c {
    text-align: center;
}
.b-ccc {
    border: 1px solid #ccc;
}
.b-eee {
    border: 1px solid #eee;
}
.bt-eee {
    border-top: 1px solid #eee;
}
.bb-eee {
    border-bottom: 1px solid #eee;
}
:disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #888;
}
/* End Colors */
/* Start Input Styling */
.resize-none {
    resize: none;
}
/* End Input Styling */
/* Start Components */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    color: white;
    background-color: var(--blue-color);
    transition: .3s;
}
.btn-shape:hover {
    background-color: var(--blue-alt-color);
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-title {
    margin-top: 0;
    margin-bottom: 20px;
}
.box-title-p {
    margin-top: 0;
    margin-bottom: 10px;
}
.btn-padding {
    padding: 4px 10px;
}
.wrapper-300 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
    .wrapper-300 {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.ribbon {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    right: -7px;
    top: -7px;
    z-index: 1;
}
.ribbon span {
    color: white;
    background-color: var(--orange-color);
    line-height: 20px;
    width: 160px;
    display: block;
    text-align: center;
    position: absolute;
    transform: rotate(45deg);
    right: -41px;
    top: 25px;
    font-weight: 600;
    padding: 3px 0;
    box-shadow: 0 3px 10px -5px black;
}
.ribbon span::before {
    content: "";
    position: absolute;
    border-top: 7px solid var(--orange-color);
    border-right: 7px solid var(--orange-color);
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 25px;
    left: 136px;
    z-index: -1;
}
.ribbon span::after {
    content: "";
    position: absolute;
    border-top: 7px solid var(--orange-color);
    border-right: 7px solid transparent;
    border-left: 7px solid var(--orange-color);
    border-bottom: 7px solid transparent;
    top: 25px;
    left: 12px;
    z-index: -1;
}
/* End Components */